@font-face {
    font-family: "flaticon_hotel";
    src: url("../fonts/flaticon_hoteld79a.ttf?b4d90b890822b6d3429b9614500c1e2f") format("truetype"),
url("../fonts/flaticon_hoteld79a.woff?b4d90b890822b6d3429b9614500c1e2f") format("woff"),
url("../fonts/flaticon_hoteld79a.woff2?b4d90b890822b6d3429b9614500c1e2f") format("woff2"),
url("../fonts/flaticon_hoteld79a.eot?b4d90b890822b6d3429b9614500c1e2f#iefix") format("embedded-opentype"),
url("../fonts/flaticon_hoteld79a.svg?b4d90b890822b6d3429b9614500c1e2f#flaticon_hotel") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_hotel !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-rocking-chair:before {
    content: "\f101";
}
.flaticon-drawers:before {
    content: "\f102";
}
.flaticon-light:before {
    content: "\f103";
}
.flaticon-partition:before {
    content: "\f104";
}
.flaticon-bathroom:before {
    content: "\f105";
}
.flaticon-kitchen:before {
    content: "\f106";
}
.flaticon-sofa:before {
    content: "\f107";
}
.flaticon-hangers:before {
    content: "\f108";
}
.flaticon-sofa-1:before {
    content: "\f109";
}
.flaticon-date:before {
    content: "\f10a";
}
.flaticon-chair:before {
    content: "\f10b";
}
.flaticon-lamp:before {
    content: "\f10c";
}
.flaticon-bed:before {
    content: "\f10d";
}
.flaticon-sofa-2:before {
    content: "\f10e";
}
.flaticon-table:before {
    content: "\f10f";
}
.flaticon-bed-1:before {
    content: "\f110";
}
.flaticon-chair-1:before {
    content: "\f111";
}
.flaticon-table-1:before {
    content: "\f112";
}
.flaticon-table-2:before {
    content: "\f113";
}
.flaticon-hanger:before {
    content: "\f114";
}
.flaticon-table-3:before {
    content: "\f115";
}
.flaticon-pool:before {
    content: "\f116";
}
.flaticon-customer-service:before {
    content: "\f117";
}
.flaticon-bed-2:before {
    content: "\f118";
}
.flaticon-travel:before {
    content: "\f119";
}
.flaticon-wifi:before {
    content: "\f11a";
}
.flaticon-breakfast:before {
    content: "\f11b";
}
.flaticon-swimming-pool:before {
    content: "\f11c";
}
.flaticon-car:before {
    content: "\f11d";
}
.flaticon-weights:before {
    content: "\f11e";
}
.flaticon-spa:before {
    content: "\f11f";
}
.flaticon-sofa-3:before {
    content: "\f120";
}
.flaticon-quotation:before {
    content: "\f121";
}
.flaticon-airplane:before {
    content: "\f122";
}
.flaticon-swimming-pool-1:before {
    content: "\f123";
}
.flaticon-fast-food:before {
    content: "\f124";
}
